@import "../../../styles/settings.scss";

.root {
  padding: 0 0 $base-padding 0;

  .content {
    height: auto;

    .noProduct {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      width: 100%;
      height: 100%;

      p {
        margin: 15rem 0;
        font-size: 2rem;
        text-align: center;
        color: gray;
      }
    }
  }

  .header {
    border-bottom: 2px solid gray;
    padding: 10px 0;
    text-transform: uppercase;
  }

  .filterRange {
    display: flex;
    flex-direction: column;

    &__name {
      margin-top: 20px;
      border-bottom: 1px solid gray;
      padding: 5px 0;
      text-transform: uppercase;
    }
  }

// TAGS START
  .headerTags {
    border-bottom: 1px solid gray;
    padding: 40px 0 5px 0;

    .title {
      color: $dark-color-2;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .filtersList {
    display: block;
    margin: 18px 0;
    font-size: 13px;

    ul {
      line-height: 34px;
      padding: 0;

      li {
        display: inline-block;
        justify-content: space-between;
        flex-direction: row;
        opacity: 0.6;
        padding: 5px 0;

        .tag {
          margin: 0 16px 12px 0;
          padding: 6px 12px;
          border: 2px solid $silver-color;
          display: inline;
          cursor: pointer;

          span {
            padding-left: 7px;
            cursor: pointer;
          }
        }

        &:hover {
          color: $creme-main;

          .tag {
            border: 2px solid $creme-main;
          }
        }
      }
    }
  }
// TAGS END
}

@media (max-width: 768px) {
  .filters {
    display: none;
  }
}
