@import "../../../styles/settings.scss";

.main {
  background-color: $btn-main-background-color;
  color: $btn-main-font-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $btn-main-font-color-hover !important;
    background-color: $btn-main-background-color-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}
.noHover{
  background: none !important;
}

.outline {
  @extend %hover-effect;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $btn-outline-border-color;
  color: $btn-outline-font-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $btn-outline-background-color-hover;
    color: $btn-outline-font-color-hover;
  }
}

.gallery {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $dark-color-2;
  color: $dark-color-2;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    color: $creme-main;
    border-color: $creme-main;
  }
}
