@import "../../../styles/settings.scss";

.root {
  margin-bottom: 2rem;

  .photo {
    width: 100%;
    height: 445px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .description {
      position: absolute;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px 0;
      background-color: $slider-background;

      h1,
      h3 {
        color: $text-color-light;
      }

      h1 {
        font-weight: 400;

        & span {
          font-weight: 700;
        }
      }

      h3 {
        text-transform: uppercase;
        font-weight: 300;
      }
    }

    .buttons {
      position: absolute;
      display: flex;
      bottom: 110px;
    }
  }

  .arrows {
    display: flex;
  }
}
