@import "../../../styles/settings.scss";

.root {
  padding: 2rem 0;

  .wrapper {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .arrow {
      height: 92px;
      width: 33px;
      background-color: $dark-color-1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0 5px;

      .icon {
        color: $light-color-1;
        font-size: 20px;

        &:hover {
          color: $creme-main;
        }
      }
    }

    .brandBox {
      display: flex;
      overflow: hidden;
      padding: 0;
      margin: 0;

      img {
        width: 143px;
        height: 92px;
        object-fit: cover;
        margin: 25px 15px;
      }
    }
  }
}
@media (max-width: 400px) {
  .brandBox {
    max-width: 200px;

    .box{
     margin: 0 10px;
    }
  }
}

@media (min-width: 401px) and (max-width: 576px) {
  .brandBox {
    max-width: 350px;

    .box{
     margin: 0 5px ;

     img {
       margin: 25px 11px !important;
      }
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .box img {
    margin:25px 11px !important;
  }
}
@media (min-width: 992px) {
  .box {
    margin: 0 3px;
  }
}
