@import "../../../styles/settings.scss";
.container {
  border: 1px solid $form-border-color;
  $base-padding: 24px;
  margin: auto;
  color: $text-color;
  width: 75%;
}
.nav1 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div:first-child,
  div:nth-child(3) {
    line-height: 2.5rem;
    font-weight: bold;
    border: none;
    border-right: 1px solid $form-border-color;
    border-bottom: 1px solid$form-border-color;
    background: $background-light;
    text-align: center;
  }
  div:last-child {
    line-height: 2.5rem;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid$form-border-color;
    background: $background-light;
    text-align: center;
  }
}
.nav2 {
  display: none;
}
.active {
  border-bottom: none;
  border-right: 1px solid $form-border-color;
  color: $creme-main;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: center;
}
.stars {
  display: flex;
  flex-direction: row;
  opacity: 0.5;
}
.review {
  display: flex;
  flex-direction: column;
  padding: 30px;
  p {
    opacity: 0.5;
  }
}
.reviewText {
  display: flex;
  flex-direction: column;
}
.continue {
  width: 100%;
  background-color: $text-color;
  border: none;
  line-height: 2.5rem;
  color: $text-color-light;
}
@media (max-width: 767px) {
  .nav2 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div:first-child,
    div:nth-child(2),
    div:nth-child(3) {
      line-height: 2.5rem;
      font-weight: bold;
      border: none;
      border-right: 1px solid $form-border-color;
      border-bottom: 1px solid$form-border-color;
      background: $background-light;
      text-align: center;
    }
  }
  .nav1 {
    display: none;
  }
  .active {
    border-bottom: none;
    border-right: none;
    color: $creme-main;
    line-height: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
}
