$base-padding: 24px;

$creme-main: #d58e32;

$dark-color-1: #363636;
$dark-color-2: #2a2a2a;
$dark-color-3: #292929;

$grey-color: #434343;

$light-grey-color: #b6b6b6;
$light-silver-color: #f4f5f7;
$light-silver-color-2: #e2e2e2;

$silver-color: #e1e1e1;

$transparent: transparent;

$white-color: #ffffff;


$header-topbar-bg: $grey-color;


$primary: $creme-main;


//Button colours
$btn-main-font-color: $white-color;
$btn-main-background-color: $dark-color-2;
$btn-main-font-color-hover: $white-color;
$btn-main-background-color-hover: $creme-main;
$btn-outline-border-color: $dark-color-2;
$btn-outline-font-color: $dark-color-2;
$btn-outline-background-color-hover: $dark-color-2;
$btn-outline-font-color-hover: $white-color;


//Feature colours
$featureBox-border: $light-grey-color;
$featureBox-icon: $dark-color-2;
$featureBox-background-before: $white-color;
$featureBox-text-active: $white-color;
$featureBox-background-active: $creme-main;
$featureBox-border-active: $creme-main;
$featureBox-content-active: $creme-main;

//ProductBox colours
$productBox-background: $white-color;
$productBox-border: $silver-color;
$productBox-photo-background: $light-silver-color;
$productBox-sale-background: $dark-color-3;
$productBox-sale-font-color: $white-color;
$productBox-content-font-color: $creme-main;
$productBox-border-bottom: $dark-color-2;
$productBox-border-bottom-before: $creme-main;

//NewFurniture colours
$newFurniture-panel-bottom: $light-silver-color;
$newFurniture-panel-text: $creme-main;
$newFurniture-panel-bottom-before: $creme-main;
$newFurniture-menu-link-hover-before: $creme-main;
$newFurniture-dots-background: $white-color;
$newFurniture-dots-link-background: $silver-color;
$newFurniture-dots-link-background-hover: $creme-main;

//ProductSearch colours
$form-border-color: $dark-color-3;
$form-icon-color: $creme-main;
$form-select-background: $transparent;
$text-color: $dark-color-2;

//CompanyClaim colours
$header-bg: $dark-color-1;
$companyClaim-phone-icon: $creme-main;
$companyClaim-cartBox: $white-color;
$companyClaim-cartIcon-bg: $creme-main;
$companyClaim-cart-bg-hover: $creme-main;

//Footer colours
$footer-bg: $dark-color-1;
$footer-claim-bg: $dark-color-2;
$footerMenu-font: $white-color;
$footerMenu-link-hover: $white-color;
$footer-social-link-hover: $creme-main;

//MenuBar colours

/*.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}*/

//TopBar colours

/*.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}*/
