$base-padding: 24px;
$white-color: #ffffff;
$grey-color: #434343;
$header-topbar-bg: $grey-color;
$dark-color-1: #363636;
$header-bg: $dark-color-1;
$dark-color-2: #2a2a2a;
$footer-claim-bg: $dark-color-2;
$footer-bg: $dark-color-1;

$creme-main: #d58e32;
$primary: $creme-main;

$dark-color-3: #292929;
$light-grey-color: #b6b6b6;
$silver-color: #e1e1e1;
$light-silver-color: #f4f5f7;
$light-silver-color-2: #e2e2e2;
$transparent: transparent;

//Button colours
$btn-main-font-color: $white-color;
$btn-main-background-color: $dark-color-2;
$btn-main-font-color-hover: $white-color;
$btn-main-background-color-hover: $creme-main;
$btn-outline-border-color: $dark-color-2;
$btn-outline-font-color: $dark-color-2;
$btn-outline-background-color-hover: $dark-color-2;
$btn-outline-font-color-hover: $white-color;


//Feature colours
$featureBox-border: $light-grey-color;
$featureBox-icon: $dark-color-2;
$featureBox-background-before: $white-color;
$featureBox-text-active: $white-color;
$featureBox-background-active: $creme-main;
$featureBox-border-active: $creme-main;
$featureBox-content-active: $creme-main;

//ProductBox colours
$productBox-background: $white-color;
$productBox-border: $silver-color;
$productBox-photo-background: $light-silver-color;
$productBox-sale-background: $dark-color-3;
$productBox-sale-font-color: $white-color;
$productBox-content-font-color: $creme-main;
$productBox-border-bottom: $dark-color-2;
$productBox-border-bottom-before: $creme-main;

//NewFurniture colours
$newFurniture-panel-bottom: $light-silver-color;
$newFurniture-panel-text: $creme-main;
$newFurniture-panel-bottom-before: $creme-main;
$newFurniture-menu-link-hover-before: $creme-main;
$newFurniture-dots-background: $white-color;
$newFurniture-dots-link-background: $silver-color;
$newFurniture-dots-link-background-hover: $creme-main;

//ProductSearch colours
$form-border-color: $dark-color-3;
$form-icon-color: $creme-main;
$form-select-background: $transparent;
$text-color: $dark-color-2;
