$base-padding: 24px;

$creme-main: #d58e32;

$dark-color-1: #363636;
$dark-color-2: #2a2a2a;
$dark-color-3: #292929;

$grey-color: #434343;

$light-grey-color: #b6b6b6;
$light-silver-color: #f4f5f7;
$light-silver-color-2: #e2e2e2;

$silver-color: #e1e1e1;

$transparent: transparent;

$white-color: #ffffff;





$primary: $creme-main;


//Button colours
$btn-main-font-color: $white-color;
$btn-main-background-color: $dark-color-2;
$btn-main-font-color-hover: $white-color;
$btn-main-background-color-hover: $creme-main;
$btn-outline-border-color: $dark-color-2;
$btn-outline-font-color: $dark-color-2;
$btn-outline-background-color-hover: $dark-color-2;
$btn-outline-font-color-hover: $white-color;


//Feature colours
$featureBox-border: $light-grey-color;
$featureBox-icon: $dark-color-2;
$featureBox-background-before: $white-color;
$featureBox-text-active: $white-color;
$featureBox-background-active: $creme-main;
$featureBox-border-active: $creme-main;
$featureBox-content-active: $creme-main;

//ProductBox colours
$productBox-background: $white-color;
$productBox-border: $silver-color;
$productBox-photo-background: $light-silver-color;
$productBox-sale-background: $dark-color-3;
$productBox-sale-font-color: $white-color;
$productBox-content-font-color: $creme-main;
$productBox-border-bottom: $dark-color-2;
$productBox-border-bottom-before: $creme-main;

//NewFurniture colours
$newFurniture-panel-bottom: $light-silver-color;
$newFurniture-panel-text: $creme-main;
$newFurniture-panel-bottom-before: $creme-main;
$newFurniture-menu-link-hover-before: $creme-main;
$newFurniture-dots-background: $white-color;
$newFurniture-dots-link-background: $silver-color;
$newFurniture-dots-link-background-hover: $creme-main;

//ProductSearch colours
$form-border-color: $dark-color-3;
$form-icon-color: $creme-main;
$form-select-background: $transparent;
$text-color: $dark-color-2;

//CompanyClaim colours
$header-bg: $dark-color-1;
$companyClaim-phone-icon: $creme-main;
$companyClaim-cartBox: $white-color;
$companyClaim-cartIcon-bg: $creme-main;
$companyClaim-cart-bg-hover: $creme-main;

//Footer colours
$footer-bg: $dark-color-1;
$footer-claim-bg: $dark-color-2;
$footerMenu-font: $white-color;
$footerMenu-link-hover: $white-color;
$footer-social-link-hover: $creme-main;

//MenuBar colours
$menuBar-bg: $white-color;
$menuBar-links-font: $dark-color-1;
$menuBar-links-border-top: $white-color;
$menuBar-links-active-bg: $creme-main;
$menuBar-links-active-font: $white-color;
$menuBar-links-acive-border: $creme-main;

//TopBar colours
$header-topbar-bg: $grey-color;
$topBar-links: $white-color;
$topBar-links-hover: $creme-main;
