@import "../../../styles/settings.scss";

.root {
  padding: 3rem 0;
}

.title{
  font-size: 25px;
  margin: 0 auto;
}

.iconBox{
  font-size: 14px;
  margin: 0 auto;
}

.header{
  margin: 0;
  padding: 0 15px;
  height: 60px;
  background-color: $grey-color;
  align-items: center;
  color: $creme-main;
}

.thead {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.productRemover {
  cursor: pointer;
  color: $creme-transparent;
  &:hover{
    color: $black-color;
  }
}

.productImage {
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.theadItem {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;

  .item1{
    width: 50px;
  }
  .item2{
    width: 110px;
  }
  .item3{
    width: 520px;
  }
  .item4{
    width: 165px;
  }
  .item5{
    width: 165px;
  }
  .item6{
    width: 165px;;
  }
}

.table {
  padding-top: 20px;
  padding-left: 670px;
}

.tableTotal {
  width: 500px;
  height: 150px;
}

.buttons{
  display: flex;
  align-items: center;
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 35px;
    text-transform: uppercase;
    margin: 15px;
  }
  .button2{
    margin-left: 675px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    text-transform: uppercase;

  }
  .checkoutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 35px;
    text-transform: uppercase;
    padding: 0;
  }
}

.input{
  width: 150px;
  height: 35px;
  font-size: 13px;
}

.quantity {
  margin: 5px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  .inputNumber {
    height: 30px;
    width: 30px;
    text-align: center;
  }
  .buttonQty {
    color:$dark-color-2;
    cursor: pointer;
    font-size: 13px;
    margin: 3px;
  }
}
